<!DOCTYPE html>
<html>
  <head>
    <title>BeautyMind</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'styles', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'menu' %>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <%= javascript_include_tag 'likes' %>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
  </head>
  <body>
    <% if flash[:success] %>
    <div class="alert alert-success">
      <%= flash[:success] %>
    </div>
  <% end %>
    <%= yield %>
    <script>
      $(document).ready(function(){
        $('.slick-list').slick({
          arrows: false,
          autoplay: true,
          autoplaySpeed: 2000,
          infinite: true,
          speed: 500
        });
      });
    </script>
  </body>
  </html>
